@import "color.css";
@import "nav.css";

.container{
    display: grid;
    grid-template-columns: 100%;
    grid-auto-rows: minmax(45px,auto);

    grid-template-areas: 
    'header header '
    'nav nav '
    'text text '
    'footer footer'
    ;
}
header{
    grid-area: header;
    text-align: center;
    font-size: 30px;
    color:var(--TextC) ;
    background-color:var(--SecoC) ;
}
nav{
    grid-area: nav;
}

.left{
    grid-area: text;
    color:var(--TextC);
    background-color:var(--MainC) ;
}

footer{
    grid-area: footer;
    background-color:var(--SecoC) ;
}
@media (max-width: 720px){
    .container{
        display: grid;
        grid-template-columns: 3fr 2fr;
        grid-auto-rows: minmax(45px,auto);

        grid-template-areas: 
        'header'
        'nav'
        'text'
        'footer'
        ;
    }
}
body{
    margin: 0%;
    padding: 0%;
}