:root{
    --MainC :#2B2D42;
    --IntTextC :#93C572;
    --SecoC :#233D4D  ;
    --TextC :#B0E0E6;
}

h1{
    text-align: center;
}
 
.nav ul{
    text-align: center;
    list-style-type: none;
    background-color:var(--SecoC);
    padding: 0%;
    margin: 0%;
    overflow: hidden;
}
.nav a{
    color: var(--IntTextC);
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.nav a:hover{
    background-color: blue;
    transition: 1s;
}
.nav li{
    float: left;
    color: var(--IntTextC);
}
.container{
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-auto-rows: minmax(45px,auto);

    grid-template-areas: 
    'header header '
    'nav nav '
    'text  side'
    'text side'
    'footer footer'
    ;
}
header{
    grid-area: header;
    text-align: center;
    font-size: 30px;
    color:var(--TextC) ;
    background-color:var(--MainC) ;
}
nav{
    grid-area: nav;
}

.left{
    grid-area: text;
    color:var(--TextC);
    background-color:var(--MainC) ;
}
.right{
    background-color:var(--SecoC) ;

    grid-area: side;
    z-index: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    
}

footer{
    grid-area: footer;
    background-color: ;
}
@media (max-width: 720px){
    .container{
        display: grid;
        grid-template-columns: 3fr 2fr;
        grid-auto-rows: minmax(45px,auto);

        grid-template-areas: 
        'header header '
        'nav nav '
        'text text'
        'side side'
        'footer footer '
        ;
    }
}
body{
    margin: 0%;
    padding: 0%;
}